* {
    margin : 0;
    padding: 0;
}

.actualfirebutton {
    background-color: black;
    color           : white;
    width           : 130px;
    height          : 50px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    border          : 2px solid red;
    border-radius   : 20px;
    position        : relative;
    overflow        : hidden;
    font-size       : 20px;
    letter-spacing  : 2px;
    cursor          : pointer;
    text-decoration: none;
}

.actualfirebutton:hover {
    border-color: red;
    background      : url("../logo/fire.gif");
    color: red;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red
}