.img-and-ul{
    width: 50%;
    height: 50%;
    justify-content: center;
    
}

.container-aboutus{
display: flex;
align-items: center;
justify-content: center;
}


.imagefacts {
    height: 150px;
    width : 500px;
}


.infobuttons{
    display: flex;
    justify-content: center;

    align-items: center;
    margin-left: 50px;
}

